/Ficha8/build/
/Ficha8/nbproject/private/
/Ficha8/dist/
/Colecoes/build/
/Colecoes/nbproject/private/
/Ficha7/Ficha7/dist/
Colecoes.zip
AVLTREE COPY.txt
Colecoes3/.idea/workspace.xml
Colecoes3/.idea/compiler.xml
Colecoes3/.idea/gradle.xml
Colecoes3/.idea/jarRepositories.xml
Colecoes3/.idea/misc.xml
Colecoes3/.idea/vcs.xml
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.lock
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.lock
*.lock
Colecoes3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Colecoes3/.gradle/6.6.1/fileHashes/fileHashes.lock
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.lock
