/Ficha8/build/
/Ficha8/nbproject/private/
/Ficha8/dist/
/Colecoes/build/
/Colecoes/nbproject/private/
/Ficha7/Ficha7/dist/
Colecoes.zip
AVLTREE COPY.txt
Colecoes3/.idea/workspace.xml
Colecoes3/.idea/compiler.xml
Colecoes3/.idea/gradle.xml
Colecoes3/.idea/jarRepositories.xml
Colecoes3/.idea/misc.xml
Colecoes3/.idea/vcs.xml
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.lock
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.lock
*.lock
Colecoes3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Colecoes3/.gradle/6.6.1/fileHashes/fileHashes.lock
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.lock
Colecoes3/.gradle/6.6.1/executionHistory/executionHistory.bin
Colecoes3/.gradle/6.6.1/fileChanges/last-build.bin
Colecoes3/.gradle/6.6.1/fileHashes/fileHashes.bin
Colecoes3/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
Colecoes3/.gradle/6.6.1/gc.properties
Colecoes3/.gradle/6.6.1/javaCompile/classAnalysis.bin
Colecoes3/.gradle/6.6.1/javaCompile/jarAnalysis.bin
Colecoes3/.gradle/6.6.1/javaCompile/taskHistory.bin
Colecoes3/.gradle/buildOutputCleanup/cache.properties
Colecoes3/.gradle/buildOutputCleanup/outputFiles.bin
Colecoes3/.gradle/configuration-cache/gc.properties
Colecoes3/.gradle/vcs-1/gc.properties
Colecoes3/build/classes/java/main/ADTs/AvlBinarySearchTreeADT.class
Colecoes3/build/classes/java/main/ADTs/BinarySearchTreeADT.class
Colecoes3/build/classes/java/main/ADTs/BinaryTreeADT.class
Colecoes3/build/classes/java/main/ADTs/GraphADT.class
Colecoes3/build/classes/java/main/ADTs/HeapADT.class
Colecoes3/build/classes/java/main/ADTs/ListADT.class
Colecoes3/build/classes/java/main/ADTs/NetworkADT.class
Colecoes3/build/classes/java/main/ADTs/QueueContract.class
Colecoes3/build/classes/java/main/ADTs/StackADT.class
Colecoes3/build/classes/java/main/ADTs/UnorderedListContract.class
Colecoes3/build/classes/java/main/exceptions/ElementNotFoundException.class
Colecoes3/build/classes/java/main/exceptions/EmptyCollectionException.class
Colecoes3/build/classes/java/main/exceptions/EmptyException.class
Colecoes3/build/classes/java/main/exceptions/InvalidElementException.class
Colecoes3/build/classes/java/main/exceptions/InvalidSizeException.class
Colecoes3/build/classes/java/main/graphs/GraphList.class
Colecoes3/build/classes/java/main/graphs/GraphMatrix.class
Colecoes3/build/classes/java/main/graphs/Pair.class
Colecoes3/build/classes/java/main/graphs/Vertex.class
Colecoes3/build/classes/java/main/lists/DoubleLinkedList$DoubleLinkedListIterator.class
Colecoes3/build/classes/java/main/lists/DoubleLinkedList.class
Colecoes3/build/classes/java/main/lists/DoubleLinkedListOld.class
Colecoes3/build/classes/java/main/lists/LinkedList$LinkedListIterator.class
Colecoes3/build/classes/java/main/lists/LinkedList.class
Colecoes3/build/classes/java/main/lists/LinkedListSearchingAndSorting.class
Colecoes3/build/classes/java/main/lists/LinkedListSentinel.class
Colecoes3/build/classes/java/main/lists/LinkedNode.class
Colecoes3/build/classes/java/main/lists/OrderedLists/ArrayList$ArrayListIterator.class
Colecoes3/build/classes/java/main/lists/OrderedLists/ArrayList.class
Colecoes3/build/classes/java/main/lists/OrderedLists/ArrayOrderedList.class
Colecoes3/build/classes/java/main/lists/OrderedLists/BinarySearchTreeList.class
Colecoes3/build/classes/java/main/lists/OrderedLists/DoubleLinkedOrderedList.class
Colecoes3/build/classes/java/main/lists/OrderedLists/DoubleLinkedOrderedListArrayable.class
Colecoes3/build/classes/java/main/lists/OrderedLists/testes.class
Colecoes3/build/classes/java/main/lists/unorderedLists/ArrayUnorderedList.class
Colecoes3/build/classes/java/main/lists/unorderedLists/DoubleLinkedUnorderedList.class
Colecoes3/build/classes/java/main/nodes/DoubleLinkedNode.class
Colecoes3/build/classes/java/main/queues/CircularArrayQueue.class
Colecoes3/build/classes/java/main/queues/DoubleStackQueue.class
Colecoes3/build/classes/java/main/queues/LinkedQueue.class
Colecoes3/build/classes/java/main/stacks/ArrayStack.class
Colecoes3/build/classes/java/main/stacks/LinkedStack.class
Colecoes3/build/classes/java/main/trees/ArrayBinarySearchTree.class
Colecoes3/build/classes/java/main/trees/ArrayBinaryTree.class
Colecoes3/build/classes/java/main/trees/ArrayHeap.class
Colecoes3/build/classes/java/main/trees/ArrayHeap2.class
Colecoes3/build/classes/java/main/trees/AVLNode.class
Colecoes3/build/classes/java/main/trees/AVLTree.class
Colecoes3/build/classes/java/main/trees/BinaryTreeNode.class
Colecoes3/build/classes/java/main/trees/HeapNode.class
Colecoes3/build/classes/java/main/trees/LinkedBinarySearchTree.class
Colecoes3/build/classes/java/main/trees/LinkedBinaryTree.class
Colecoes3/build/classes/java/main/trees/LinkedHeap.class
Colecoes3/build/classes/java/main/trees/priorityQueues/PriorityQueue.class
Colecoes3/build/classes/java/main/trees/priorityQueues/PriorityQueueNode.class
Colecoes3/build/classes/java/main/trees/TreePrinter.class
Colecoes3/build/classes/java/main/zmain/main.class
Colecoes3/build/classes/java/test/Colecoes3/GraphListTest.class
Colecoes3/build/classes/java/test/Colecoes3/GraphMatrixTest.class
Colecoes3/build/classes/java/test/Colecoes3/LinkedListTest.class
Colecoes3/build/distributions/Colecoes3.tar
Colecoes3/build/distributions/Colecoes3.zip
Colecoes3/build/libs/Colecoes3.jar
Colecoes3/build/reports/tests/test/classes/Colecoes3.GraphListTest.html
Colecoes3/build/reports/tests/test/classes/Colecoes3.GraphMatrixTest.html
Colecoes3/build/reports/tests/test/classes/Colecoes3.LinkedListTest.html
Colecoes3/build/reports/tests/test/css/base-style.css
Colecoes3/build/reports/tests/test/css/style.css
Colecoes3/build/reports/tests/test/index.html
Colecoes3/build/reports/tests/test/js/report.js
Colecoes3/build/reports/tests/test/packages/Colecoes3.html
Colecoes3/build/scripts/Colecoes3
Colecoes3/build/scripts/Colecoes3.bat
Colecoes3/build/test-results/test/binary/output.bin
Colecoes3/build/test-results/test/binary/output.bin.idx
Colecoes3/build/test-results/test/binary/results.bin
Colecoes3/build/test-results/test/TEST-Colecoes3.GraphListTest.xml
Colecoes3/build/test-results/test/TEST-Colecoes3.GraphMatrixTest.xml
Colecoes3/build/test-results/test/TEST-Colecoes3.LinkedListTest.xml
Colecoes3/build/tmp/compileJava/source-classes-mapping.txt
Colecoes3/build/tmp/compileTestJava/source-classes-mapping.txt
Colecoes3/build/tmp/jar/MANIFEST.MF
Colecoes3/gradle/wrapper/gradle-wrapper.jar
Colecoes3/gradle/wrapper/gradle-wrapper.properties
Colecoes3/settings.gradle
Colecoes3/gradlew.bat
Colecoes3/gradlew
/SO Ficha5 Ex 6/nbproject/private/
/SO Ficha5 Ex 6/build/
/lol/nbproject/private/
/lol/build/
/JavaApplication67/nbproject/private/
/JavaApplication67/build/
/JavaApplication67/TP_ED_Colecoes/build/
/JavaApplication67/TP_ED_Colecoes/nbproject/private/
